
body{
  /* background-color: aqua; */
  /* margin: 2%; */
  background-image: linear-gradient(to bottom left,lightcoral, #ffff,aqua);
  background-repeat: no-repeat;
  background-attachment: fixed;
}